---
interface Props {
    title: string;
    description: any;
    order: any;
}

const { title } = Astro.props;
const { description } = Astro.props;
const { order } = Astro.props;

---
<div>
    <div class="flex justify-center text-white font-semibold items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">{order}
    </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">{title}</h3>
        <p class="text-gray-500 dark:text-gray-400">{description}</p>
</div> 