---
import { Image } from 'astro:assets';
import Icon from '../img/faviconn.svg'
---

<footer class="p-4 md:p-8 lg:p-10 bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/" class="flex flex-col md:flex-row justify-center items-center space-x-3 rtl:space-x-reverse">
            <Image src={Icon} class="size-12" alt="Que hacer San Rafael Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Que Hacer San Rafael</span>
        </a>
        <p class="my-6 text-gray-400">Conocer la ciudad nunca fue tan fácil</p>
        <ul class="flex gap-4 md:gap-10 flex-wrap justify-center items-center mb-6 text-white">
            <li>
                <a href="/" class="hover:underline">Inicio</a>
            </li>
            <li>
                <a href="/bodegas" class="hover:underline">Bodegas</a>
            </li>
            <li>
                <a href="/excursiones" class="hover:underline ">Excursiones</a>
            </li>
            <li>
                <a href="/atracciones" class="hover:underline">Atracciones</a>
            </li>
            <li>
                <a href="https://wa.me/+542604371637?text=Hola%20Dylan%20te%20hablo%20por%20la%20p%C3%A1gina%20en%20la%20que%20ofreces%20actividades%20en%20San%20Rafael" target="_blank" class="mr-4 hover:underline md:mr-6">Contacto</a>
            </li>
        </ul>
        <span class="text-sm sm:text-center text-gray-400">2024 -<a href="#" class="hover:underline"> Que Hacer San Rafael</a></span>
    </div>
  </footer>