---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'


interface Props {
	title: string;
	metadescription: string;
}

const { title } = Astro.props;
const { metadescription } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Google Tag Manager -->
<script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PRDQ9RMQ');</script>
	<!-- End Google Tag Manager -->
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={metadescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="./faviconn.ico">
		<link rel="icon" type="image/png" href="./faviconn.png" sizes="196x196">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRDQ9RMQ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Navbar></Navbar>
		<slot></slot>
		<Footer/>
	<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>